name: CI

on:
  pull_request:
    branches: [development]

jobs:
  ci:
    uses: diegutierrez/.github/.github/workflows/node-ci.yml@main
    with:
      working-directory: frontend
      node-version: "20"
