name: Conventional Commits

on:
  pull_request:
    branches: [development, test, main]
    types: [opened, edited, synchronize, reopened]

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            refactor
            docs
            style
            test
            chore
          requireScope: false
          subjectPattern: ^.+$
          subjectPatternError: |
            El titulo del PR debe seguir el formato de conventional commits.
            Ejemplo: "feat: agregar nueva funcionalidad"
